<mat-sidenav-container class="example-container" >
  <mat-sidenav style="background-color: #212121;" #sidenav mode="side" [(opened)]="opened">
    <div class="sidebar-button">

      <mat-list>
        <mat-list-item class="profile-info">
          <button style="background-color: #212121" class="sidebar-button" mat-flat-button (click)="onProfileBtn()">
            <div style="color: lightgray">Profile</div>
          </button>
        </mat-list-item>
        <mat-list-item class="profile-info">
          <button style="background-color: #212121" class="sidebar-button" mat-flat-button (click)="openDialogAddJob()">
            <div style="color: lightgray">Create Job Listing</div>
          </button>
        </mat-list-item>
        <mat-list-item class="profile-info">
          <button style="background-color: #212121" class="sidebar-button" mat-flat-button (click)="logout()">
            <div style="color: lightgray">Logout</div>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div>

    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <!-- Navbar -->
      <mat-toolbar id="navbar">
        <button style="color: lightgray" mat-icon-button class="sidebar-toggle-btn" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span style="color: lightgray" >ProShop</span>
        <span class="example-spacer"></span>
        <div style="color: lightgray" >{{currentUser.username}}</div>
        <button style="color: lightgray" mat-icon-button [disableRipple]="true" class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon style="font-size: 40px; color: lightgray">person_outline</mat-icon>
        </button>
      </mat-toolbar>

      <!-- Current Client Jobs available -->
      <!-- TODO: make a job board, create client job component -->

      <div style="background-color: #85c3cf;" id="client-job-board">
        <app-job-item class="card-item" *ngFor="let job of jobs" [job]="job"
                  (viewJobInfoEvent)="viewJobInfo($event)" (deleteEvent)="deleteJob($event)"
                  (viewProposalsEvent)="viewJobProposals($event)"></app-job-item>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>




