<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="sidebar-button">

      <mat-list>
        <mat-list-item class="profile-info">
          <button class="sidebar-button" mat-flat-button (click)="onProfileBtn()"> Profile </button>
        </mat-list-item>
        <mat-list-item class="profile-info">
          <button class="sidebar-button" mat-flat-button (click)="openDialogAddJob()">Create Job Listing</button>
        </mat-list-item>
        <mat-list-item class="profile-info">
          <button class="sidebar-button" mat-flat-button (click)="logout()"> Logout </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div>

    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <!-- Navbar -->
      <mat-toolbar id="navbar">
        <button mat-icon-button class="sidebar-toggle-btn" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>ProShop</span>
        <span class="example-spacer"></span>
        <div>{{currentUser.username}}</div>
        <button mat-icon-button [disableRipple]="true" class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon style="font-size: 40px">person_outline</mat-icon>
        </button>
      </mat-toolbar>

      <!-- Current Client Jobs available -->
      <!-- TODO: make a job board, create client job component -->
      <div id="client-job-board">
        <app-job-item class="card-item" *ngFor="let job of jobs" [job]="job"
                  (viewJobInfoEvent)="viewJobInfo($event)" (deleteEvent)="deleteJob($event)"
                  (viewProposalsEvent)="viewJobProposals($event)"></app-job-item>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>




