.example-card {
  width: 200px;
  height: 200px;
}

.example-header-image {
  font-size: 40px;
  font-weight: bold;
  color: #4545ff;
}

.mat-card-content {
  word-wrap: anywhere;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100px;
}

.mat-card-actions {
  position:absolute;
  bottom: 5px;
}

.example-header-image {
  background-image: url('../_images/circle-icon.png');
  background-size: cover;
}
