<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper">
      <!-- Navbar -->
      <mat-toolbar id="navbar">
        <button mat-icon-button class="sidebar-toggle-btn" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>ProShop</span>
        <span class="example-spacer"></span>
        <span>
          <button mat-flat-button> Profile </button>
          <button mat-flat-button> Current Bids </button>
          <button mat-flat-button> Logout </button>
        </span>
        <span class="example-spacer"></span>
        <div>{{currentUser.username}}</div>
        <button mat-icon-button [disableRipple]="true" class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon style="font-size: 40px">person_outline</mat-icon>
        </button>
      </mat-toolbar>

      <mat-form-field id="job-searchbar" appearance="standard">
        <mat-icon matPrefix style="margin-right: 10px;">search</mat-icon>
        <mat-label>Search For Available Jobs</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <div id="job-search-results-container">

      </div>
      <div id="jobs-recommended-container">
        <button mat-button> Recommended Jobs</button>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
