<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div>
      <mat-list>
        <mat-list-item class="profile-info">
          <button class="sidebar-button" mat-flat-button (click)="onProfileBtn()"> Profile </button>
        </mat-list-item>
        <mat-list-item class="profile-info">
          <button class="sidebar-button" mat-flat-button (click)="onCurrentProposals()"> Current Bids </button>
        </mat-list-item>
        <mat-list-item class="profile-info">
          <button class="sidebar-button" mat-flat-button (click)="onLogout()"> Logout </button>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper">
      <!-- Navbar -->
      <mat-toolbar id="navbar">
        <button mat-icon-button class="sidebar-toggle-btn" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>ProShop</span>
        <span class="example-spacer"></span>
        <span>

        </span>
        <span class="example-spacer"></span>
        <div>{{currentUser.username}}</div>
        <button mat-icon-button [disableRipple]="true" class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon style="font-size: 40px">person_outline</mat-icon>
        </button>
      </mat-toolbar>

      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" id="job-searchbar">
        <mat-form-field style="width: 100%;" appearance="standard">
          <mat-icon matPrefix style="margin-right: 10px;">search</mat-icon>
          <mat-label>Search For Available Jobs</mat-label>
          <input type="text" formControlName="searchString" matInput>
        </mat-form-field>
      </form>

      <mat-card id="job-search-results-container">
        <mat-accordion>
          <app-search-result-item class="card-item" *ngFor="let job of jobs" [job]="job"
                                  (deleteProposalEvent)="deleteProposal($event)" (makeProposalEvent)="makeProposal($event)" ></app-search-result-item>
        </mat-accordion>
      </mat-card>
      <div id="jobs-recommended-container">
        <button mat-button (click)="onRecommenedBtn()"> Recommended Jobs</button>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
