<h2 mat-dialog-title>Job Information</h2>
<mat-dialog-content class="mat-typography">
  <h3>Job Title</h3>
  <div class="job-info">{{job.title}}</div>
  <h3>Budget</h3>
  <div class="job-info">{{job.budget}}</div>
  <h3>Job Category</h3>
  <div class="job-info">{{job.skillCategory}}</div>
  <h3>Description</h3>
  <div class="job-info">{{job.description}}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="deleteJob(job._id)" mat-button>DELETE</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
