<div class="container">
  <div class="page-header">

  </div>
  <div class="title-container">
    <div class="title-content typewriter">
      <p class="title-text">ProShop</p>
      <p class="subtitle subtitle-text">Need a Professional? Let them come to you with ProShop!</p>
    </div>
  </div>
  <div class="login-registration-container" >
    <div class="login-registration">
      <form [formGroup]="loginRegisterForm" class="login-registration-form"
            [style.width.px]="isInputTypeLogin?'275':'375'">
        <div>

          <div class="header">
            <button class="login-register-toggle"
                    mat-flat-button type="button"
                    (click)="inputTypeIsLogin()"
                    [style.font-weight]="isInputTypeLogin?'bold':'normal'">Login</button>
            <button class="login-register-toggle"
                    mat-flat-button type="button"
                    (click)="inputTypeIsRegister()"
                    [style.font-weight]="isInputTypeLogin?'normal':'bold'">Register</button>
          </div>

            <div class="content-container">
              <app-login-input *ngIf="isInputTypeLogin" [form]="loginRegisterForm"></app-login-input>
              <app-register-input *ngIf="!(isInputTypeLogin)" [form]="loginRegisterForm"></app-register-input>
            </div>

          <div class="submit">
            <button mat-button (click)="submit()">Submit</button>
          </div>

        </div>

      </form>
    </div>

  </div>
  <div class="footer">

  </div>
</div>
