<div class="form-group" [formGroup]="form">
  <mat-form-field appearance="standard" style="width:100%">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="usernameLogin"  class="form-control" placeholder="or email" >
  </mat-form-field>
</div>

<div class="form-group" [formGroup]="form">
  <mat-form-field appearance="standard" style="width:100%">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="passwordLogin" class="form-control" placeholder="" >
  </mat-form-field>
</div>
