<div class="content-wrapper">
  <!-- Navbar -->
  <mat-toolbar id="navbar">
    <button mat-icon-button [disableRipple]="true" (click)="onHomeBtn()">
      <mat-icon style="font-size: 40px; color: lightgray;">home</mat-icon>
    </button>
  </mat-toolbar>

  <div class="pro-info-container">
    <mat-card id="profile-info-card">
      <mat-card-title style="margin-bottom: 50px">
        <div class="profile-pic-container">
          <div id="profile-pic">
            {{currentUser.firstName | slice:0:1}}{{currentUser.lastName | slice:0:1}}
          </div>
        </div>
        <div style="margin-bottom: 5px;">{{currentUser.firstName}} {{currentUser.lastName}} (@{{currentUser.username}})</div>
      </mat-card-title>
      <mat-card-content>
        <div id="links-container">
          <h2>First Name</h2>
          <b>{{currentUser.firstName}}</b>
          <h2>Last Name</h2>
          <b>{{currentUser.lastName}}</b>
          <h2>Email</h2>
          <b>{{currentUser.email}}</b>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
