<mat-toolbar>

  <!--TODO: show the greeter with username-->
  <h1>Utility Buttons</h1>

  <button mat-button (click)="populateUsers()">Populate all users</button>

  <button mat-button (click)="populateClients()">Populate clients</button>

  <button mat-button (click)="populateProfessionals()">Populate professionals</button>

  <button mat-button (click)="populateJobs()">Not implemented yet</button>

  <button mat-button (click)="populateProposals()">Not implemented yet</button>
</mat-toolbar>


